@import "tailwindcss";

/* Thèmes clairs et sombres */
:root {
  --foreground: #171717;
  --background-gradient: linear-gradient(to bottom right, #F5F5F4, #EAEAEA);
}

/** @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background-gradient: linear-gradient(to bottom right, #0a0a0a, #1a1a1a);
  }
} */

/* Police personnalisée */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Thème inline (optionnel selon setup) */
@theme inline {
  --color-background: var(--background-gradient);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background-gradient);
  color: var(--foreground);
  font-family:  Arial, sans-serif;
  margin: 0;
}
