.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  height: auto;
}

.subTitle {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.details {
  font-size: 0.85rem;
  color: #444;
  margin-bottom: 0.3rem;
}

.button {
  background-color: #00c4cc;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 999px;
  border: none;
  font-weight: 500;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #01a8b0;
}
